{%extends 'base.html'%}
{%block content%}
    <div id="main-content">
      <div class="page-heading">
        <section class="section">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Bookings of customer: {{customer.fullname}}</h4>
            </div>
            <div class="card-body">
              <table class="table table-hover" id="table1">
                <thead>
                  <tr>
                    <th>Booking ID</th>
                    <th>Booking date</th>
                    <th>Number of guests</th>
                    <th>Check in date</th>
                    <th>Check out date</th>
                    <th>Status</th>
                    <th>Total pay</th>
                  </tr>
                </thead>
                <tbody>
                  {%for booking in bookings%}
                  <tr>
                    <td>{{booking.bookingid}}</td>
                    <td>{{booking.bookingdate}}</td>
                    <th>{{booking.guestnum}}</th>
                    <td>{{booking.checkin|date:"d-m-Y" }}</td>
                    <td>{{booking.checkout|date:"d-m-Y" }}</td>
                    <td>{{booking.status}}</td>
                    <td>{{booking.totalpay}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>

      <footer>
        <div class="footer clearfix mb-0 text-muted">
          
        </div>
      </footer>
    </div>
{%endblock content%}

