{%extends 'base.html'%}
{%block content%}
    <div id="main-content">
      <div class="page-heading">
        <section class="section">
          <div class="card">
            <div class="card-header"  style="display:flex; justify-content: space-between;">
              <h4 class="card-title">Bookings of customer: {{customer.fullname}}</h4>
              <div
                    class="theme-toggle d-flex gap-2 align-items-center"
                  >
                    <span>Future bookings</span>
                    <div class="form-check form-switch" id="change-button">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        style="cursor: pointer"
                        {% comment %} id = "click-here" {% endcomment %}
                        onclick='window.location.assign("{%url 'view_booking_future' pk%}")'
                        checked
                      />
                    </div>
                    <span>All bookings</span>
              </div>
            </div>
            <div class="card-body">
              <table class="table" id="table1">
                <thead>
                  <tr>
                    <th>Booking ID</th>
                    <th>Booking date</th>
                    <th>Number of guests</th>
                    <th>Check in date</th>
                    <th>Check out date</th>
                    <th>Status</th>
                    <th>Total pay</th>
                  </tr>
                </thead>
                {% comment %} <tbody id="displayBookingList"  {% endcomment %}
                <tbody
                data-url-all="{%url 'update_booking_all' pk%}" data-url-future="{%url 'update_booking_future' pk%}">
                  {%for booking in bookings%}
                  <tr>
                    <td>{{booking.bookingid}}</td>
                    <td>{{booking.bookingdate}}</td>
                    <th>{{booking.guestnum}}</th>
                    <td>{{booking.checkin|date:"Y-m-d" }}</td>
                    <td>{{booking.checkout|date:"Y-m-d" }}</td>
                    <td>{{booking.status}}</td>
                    <td>{{booking.totalpay}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>

      <footer>
        <div class="footer clearfix mb-0 text-muted">
          
        </div>
      </footer>
    </div>
{%endblock content%}

